@page "/regPage"

<PageTitle>Registration</PageTitle>

@using BlazorControl.Data
@using BlazorControl.Services
@inject WeatherForecastService ForecastService

<h1>Registration form</h1>

<RegComponent></RegComponent>

@code {
}
